.bookDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  .bookImage {
    height: 300px;
    width: 200px;
    object-fit: cover;
  }

  .bookTitle {
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
  }

  .bookAuthor {
    font-size: 1.5em;
    margin-top: 10px;
  }

  .bookPrice {
    font-size: 1.2em;
    margin-top: 10px;
  }
}