$color-blue: #1e90ff;
$color-blue-light: #1e8fff7c;

.paymentForm {
  display: flex;
  align-items: center;
  
  .form {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;

    input {
      margin-bottom: 10px;
      height: 1.8rem;
      width: 20rem;
      border: 1px solid $color-blue-light;
      border-radius: 2px;
      padding: 0 0.5rem;
    }

    .submit {
      height: 2rem;
      border-radius: 2rem;
      border: none;
      color: white;
      background-color: $color-blue;
      cursor: pointer;
    }

    .disabled {
      height: 2rem;
      border-radius: 2rem;
      border: none;
      color: white;
      background-color: $color-blue-light;
      cursor: not-allowed;
    }
  }
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-top: 20px;
  color: #4BB543;
}