$color-blue: #007bff;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  input {
    width: 30%;
    margin: 3rem 0 0 0;
    height: 40px;
    border: 2px solid $color-blue;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }

  .bookList {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 4rem 0;
    justify-content: center;

  }
}

@media (max-width: 768px) {
  .container {
    input {
      width: 80%;
    }
  }
}