$color-blue: #007bff;

.cartItem {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 10px;
  color: $color-blue;
  border-bottom: 1px solid #ccc;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .info {
    display: flex;
    width: 100%;
    padding: 0 0.5rem;
    //justify-content: space-between;
    align-items: center;
    //border: 1px dashed blue;

    .bookTitle {
      //border: 1px dashed blue;
      display: flex;
      align-items: center;
      width: 30%;
      font-size: 18px;
      font-weight: bold;
    }

    .bookAuthor {
      //border: 1px dashed blue;
      width: 20%;
    }

    .bookPrice {
    //border: 1px dashed blue;
      width: 40%;
    }
  }
}

@media (max-width: 768px) {
  .cartItem {
    width: 100%;
    padding: 0 1rem;
    //flex-direction: column;

    img {
      // width: 100%;
      // height: 200px;
    }

    .info{
      flex-direction: column;
      .bookTitle {
        width: 100%;
        margin: 0;
      }
  
      .bookAuthor {
        width: 100%;
        margin: 0.5rem 0 0 0;
      }
  
      .bookPrice {
        width: 100%;
        margin: 0.5rem 0 0 0;
      }
    }

    
  }
}