$color-blue: #007bff;

.cartItem {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 10px;
  color: $color-blue;
  border-bottom: 1px solid #ccc;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .info {
    display: flex;
    width: 100%;
    padding: 0 0.5rem;
    align-items: center;

    .bookTitle {
      display: flex;
      align-items: center;
      width: 45%;
      font-size: 18px;
      font-weight: bold;
    }

    .bookAuthor {
      width: 25%;
    }

    .bookPrice {
      width: 30%;
      margin-left: 1rem;
    }
  }
}

@media (max-width: 960px) {
  .cartItem {
    width: 100%;
    padding: 0 1rem;
    &:first-child {
      border-top: 1px solid #ccc;
    }

    .info{
      flex-direction: column;
      
      .bookTitle {
        width: 100%;
        margin: 0;
      }
  
      .bookAuthor {
        width: 100%;
        margin: 0.5rem 0 0 0;
      }
  
      .bookPrice {
        width: 100%;
        margin: 0.5rem 0 0 0;
      }
    }
  }
}