$color-blue: #007bff;

.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: absolute;
  // bottom: 0.5rem;
  // left: 0.5rem;
  width: 6rem;
  //border: 1px dashed #ccc;

  .plus,
  .minus {
    display: flex;
    justify-content: center;
    border: none;
    color: white;
    background-color: $color-blue;
    font-size: 1.5rem;
    cursor: pointer;
    width: 2rem;
  }

  .minus {
    border-radius: 1rem 0 0 1rem;
    padding: 0 0 0.1rem 0;
  }

  .plus {
    border-radius: 0 1rem 1rem 0;
  }
}

.cartBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  // position: absolute;
  // bottom: 0.5rem;
  // left: 0.5rem;
  border-radius: 2rem;
  width: 10rem;
  height: 2rem;
  border: none;
  color: white;
  font-weight: 700;
  background-color: $color-blue;
  cursor: pointer;
}

@media (max-width: 768px) {
  .count {
  }
}