$font-weight: 700;
$color-blue: #007bff;

.navbar {
  display: flex;
  height: 4rem;
  //justify-content: flex-start;
  padding: 10px;
  background-color: $color-blue;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-items: center;

  .logo {
    display: flex;

    img {
      margin-left: 3rem;
    }
  
    .title {
      font-size: 1.5rem;
      font-weight: $font-weight;
      color: white;
      margin-right: 2rem;
    }
  }
  .link {
    display: flex;
    margin-left: 2rem;
    //border: 1px dashed red;
    font-weight: $font-weight;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      border-bottom: 1px solid white;
    }

    .cartCount {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: white;
      color: $color-blue;
      font-weight: $font-weight;
      font-size: 1rem;
      margin-left: 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;

    .link {
      margin-left: 0;
      margin-bottom: 0.5rem;
    }
  }

}


